* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

header .header-top {
  background-color: #0282f9;
}

header .header-top .box-header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0px;
}

header .header-top .box-header-top a {
  color: #ffffff;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
}

header .header-bottom {
  border-bottom: 1px solid #ebebeb;
}

header .header-bottom .box-header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-bottom .box-header-bottom .logo {
  width: 80px;
  height: 80px;
  margin: 10px 0px;
}

header .header-bottom .box-header-bottom .logo img {
  width: 100%;
  height: 100%;
}

header .header-bottom .box-header-bottom li {
  display: inline-block;
  margin: 0px 10px;
}

header .header-bottom .box-header-bottom li a {
  color: #464646;
  font-size: 16px;
  font-weight: bold;
  line-height: 100px;
  display: inline-block;
}

header .header-bottom .box-header-bottom li a:hover,
header .header-bottom .box-header-bottom li a.active {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}

header .header-bottom .box-header-bottom input {
  border: 0px;
  border-bottom: 3px solid #0282f9;
  outline: 0;
  width: 120px;
  color: #464646;
  font-size: 13px;
  font-weight: bold;
}

#home .jumbtron {
  background-image: url(/images/jumbotron.jpg);
  height: 300px;
  background-position: top;
  background-size: cover;
}

#home .comics {
  background-color: #1c1c1c;
  position: relative;
}

#home .comics small {
  padding: 10px 30px;
  background-color: #0282f9;
  color: #ffffff;
  position: absolute;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bold;
}

#home .comics .comics-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0px;
}

#home .comics .comics-container .comic {
  width: 170px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

#home .comics .comics-container .comic .comic-image {
  width: 170px;
  height: 170px;
}

#home .comics .comics-container .comic .comic-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#home .comics .comics-container .comic .comis-title {
  margin-top: 10px;
  font-weight: normal;
  font-size: 18px;
}

#home .comics .comics-container button {
  padding: 10px 50px;
  background-color: #0282f9;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  outline: 0;
  border: 0;
  margin-top: 30px;
  cursor: pointer;
  font-family: "Teko", sans-serif;
}

#home .iconlink {
  padding: 50px 0px;
  background-color: #0282f9;
}

#home .iconlink .iconlink-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .iconlink .iconlink-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

#home .iconlink .iconlink-box a span {
  margin: 0px 10px;
  color: #ffffff;
  font-size: 18px;
}

#home .iconlink .iconlink-box .img-box {
  width: 50px;
  height: 55px;
  display: inline-block;
}

#home .iconlink .iconlink-box .img-box img {
  width: 100%;
  height: 100%;
}

footer .footer-top {
  background-image: url(/images/footer-bg.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  padding-right: 30px;
}

footer .footer-top-db {
  background-image: url(/images/dc-logo-bg.png);
  height: 400px;
  background-repeat: no-repeat;
  background-position: right;
}

footer .footer-bottom {
  background-color: #303030;
  padding: 30px 0px;
}

footer .footer-bottom .footer-bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom .footer-bottom-box .bottone button {
  border: 3px solid #0282f9;
  color: #ffffff;
  outline: 0;
  font-size: 20px;
  background-color: #303030;
  cursor: pointer;
  padding: 10px 20px;
  font-family: "Teko", sans-serif;
}

footer .footer-bottom .footer-bottom-box .icone {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .footer-bottom .footer-bottom-box .icone span {
  color: #0282f9;
  font-weight: bold;
  font-size: 25px;
  margin-right: 20px;
}

footer .footer-bottom .footer-bottom-box .icone a {
  margin-right: 10px;
}

