footer{
    .footer-top{
        background-image: url(/images/footer-bg.jpg);
        height: 420px;
        background-size: cover;
        background-position: center;
        padding-right: 30px;

        .footer-top-db {
            background-image: url(/images/dc-logo-bg.png);
            height: 420px;
            background-repeat: no-repeat;
            background-position: right;
        }

        .footer-menu{
            @include flex-column(column,center,flex-start);

            .voci-menu{
                @include flex-row(flex-start,flex-start);

                .menu{
                    margin-right: $big_space;
                    margin-top: $big_space;

                    h4{
                        text-transform: uppercase;
                        color: $text_color2;
                        font-size: 22px;
                        font-weight: bold;
                    }

                    a{
                        color: #959595;
                        font-size: 18px;

                        &:hover{
                            color: $principal_color;
                        }
                    }
                }
            }

            .cookies{
                color: #959595;
                font-size: 18px;
                margin-top: $big_space;

                a{
                    color: $principal_color;
                }
            }
        }
    }



    .footer-bottom{
        background-color: #303030;
        padding: 30px 0px;

        .footer-bottom-box{
            @include flex-row(space-between,center);

            .bottone{

                button{
                    border: 3px solid $principal_color;
                    color: $text_color2;
                    outline: 0;
                    font-size: 20px;
                    background-color: #303030;
                    cursor: pointer;
                    padding: 10px 20px;
                    font-family: 'Teko', sans-serif;
                }
            }

            .icone{
                @include flex-row(space-around,center);

                span{
                    color: $principal_color;
                    font-weight: bold;
                    font-size: 25px;
                    margin-right: $big_space;
                }

                a{
                    margin-right: $small_space;
                }

            }
        }
    }
}
